html, body{
    font-size: 100%;
	font-family: "Josefin Sans", sans-serif;
	background:#ffffff;}
p{
	margin:0;
	font-size:14px;}
h3{
	font-family: "Arial Narrow",Arial,sans-serif; 
	
}

h3 span 
{
	margin:20px;
    display: block;
}

h3::before {
	color: #f7aa2d;
	margin-right: 20px;
	content: '[';

}

h3::after {
	color: #f7aa2d;
	margin-right: 20px;
	content: ']';
}

h5{
	font-family: Geneva,Tahoma,Verdana,sans-serif; 
}

ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- header --*/
.w3l_header_left{
	float:left;
	margin: .3em 0 0;
}
.w3l_header_left ul li{
	display:inline-block;
	margin-right:2em;
	font-size:14px;
	color:#999;
}
.w3l_header_left ul li span{
	padding-right:1em;
}
.w3l_header_left ul li a{
	color:rgba(188, 188, 188, 0.57);;
	text-decoration:none;
}
.w3l_header_left ul li a:hover{
	color:#0071c9;
}
.w3l_header_right{
	float: right;
}
/*-- social-icons --*/
ul.social-icons li {
    display: inline-block;
}
.icon {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	margin: 0;
	width: 30px;
	height: 30px;
	font-size: 0;
	text-indent: -9999px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
}
.icon-border {
	position: relative;
}

.icon-border::before,
.icon-border::after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
}

.icon-border::before {
	z-index: 1;
	-webkit-transition: box-shadow 0.3s;
          transition: box-shadow 0.3s;
}

.icon-border::after {
	z-index: 2;
}

/* facebook */
.icon-border.facebook::before {
	box-shadow:inset 0 0 0 48px #212121;
}

.icon-border.facebook:hover::before {
	box-shadow:inset 0 0 0 2px #0071c9;
}

.icon-border.facebook::after {
	background:url(../images/img-sp.png) no-repeat 8px 5px;
	display:block;
}
.icon-border.facebook:hover::after {
	background:url(../images/img-sp.png) no-repeat 8px -24px;
	display:block;
}

/* twitter */
.icon-border.twitter::before {
	box-shadow:inset 0 0 0 48px #212121;
}

.icon-border.twitter:hover::before {
	box-shadow:inset 0 0 0 2px #0071c9;
}

.icon-border.twitter::after {
	background:url(../images/img-sp.png) no-repeat -21px 4px;
	display:block;
}
.icon-border.twitter:hover::after {
	background:url(../images/img-sp.png) no-repeat -21px -26px;
	display:block;
}

/* instagram */
.icon-border.instagram::before {
	box-shadow: inset 0 0 0 48px #212121;
}

.icon-border.instagram:hover::before {
	box-shadow: inset 0 0 0 2px #0071c9;
}

.icon-border.instagram::after {
	background:url(../images/img-sp.png) no-repeat -51px 5px;
	display:block;
}
.icon-border.instagram:hover::after {
	background:url(../images/img-sp.png) no-repeat -51px -25px;
	display:block;
}

/*-- //social-icons --*/
/*-- nav-effect --*/
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
/*-- w3layouts --*/
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after,.navbar-nav li.active a::before,.navbar-nav li.active a::after,
.navbar-nav li.active a:focus::before,
.navbar-nav li.active a:focus::after{
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
/*-- //nav-effect --*/
.header {
    padding: 2em 0;
    border-bottom: 1px solid #EAEAEA;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-nav {
    float: left;
    margin:0 0 0 10em;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #0071c9;
}
.navbar-brand {
    padding: 0 0 0 1em;
    line-height: 48px;
    font-size: 1.5em;
    /* background: url(../images/img-sp.png) no-repeat 0px -61px; */
    height: 65px;
}
/*-- agileits --*/
.navbar-brand span {
    display: inline-block;
    color: #f7aa2d;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
	color:#0071c9;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#0071c9;
}
.navbar-nav > li > a {
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px 15px 0;
}
.header-bottom {
    position: relative;
    padding: 1em 0;
}
/*-- //header --*/
/*-- about --*/
.about{
	padding:5em 0;
}
.about h3{
	font-size: 2.5em;
    color: #212121;
    text-align: center;
    text-transform: capitalize;
}

.about-grids{
	margin:2em 0 0;
}
.about-grid {
    padding: 0;
}
.about-grid-left h5 {
	font-size: 1.3em;
	text-align: center;
	padding-right: 300px;
	padding-left: 300px;
	padding-top: 20px;
	color: rgba(188, 188, 188, 0.57);
	transition:.9s all;
	-o-transition:.9s all;
	-webkit-transition:.9s all;
	-moz-transition:.9s all;
	-ms-transition:.9s all;
}


.about-grid-left {
    margin-top: 1em;
}

.about-grid:hover .about-grid-left h5{
	color:#212121;
}
/*-- //about --*/

/*-- countdown --*/
.clockdiv-container {
	text-align: center;
  }
  
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	background: black;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	background: #0071c9;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
  /*-- //countdown --*/
	/*-- registration --*/
	.button-container {
		text-align: center;
		padding-top: 30px;
	  }
	.button {
		width: 50%;
		border-color: #0071c9;
		border: none;
		color: #0071c9;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 24px;
		margin: 4px 2px;
		cursor: pointer;
	  }
/*-- //registration --*/

/*----------Speakers----------*/

.profile-pic
{
    margin-top: 25px;
}

.profile-pic .img-box
{
    opacity: 1;
    display: block;
    position: relative;
}

.profile-pic .img-box img
{
    filter: grayscale(1);
    height: 200px;
    width: 200px;
}

.profile-pic .img-box img:hover
{
    filter: grayscale(0);
    cursor: pointer;
}

.profile-pic h2
{
    font-size: 22px;
    font-family: "Arial Narrow",Arial,sans-serif;
    margin-top: 15px;
    color: #F58703 !important;
}

.profile-pic h3
{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
#team .fa
{
    height: 25px;
    width: 25px;
    color: #007bff !important;
    background: #fff;
    padding: 4px;
}

.img-box ul
{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.img-box ul li
{
    padding: 5px;
    display: inline-block;
}

.img-box:hover ul
{
    opacity: 1;
}

.img-box ul, .img-box ul li
{
    transition: 0.5
}
/*-- register --*/

.map iframe{
	width:100%;
	min-height:400px;
	margin-bottom:-6px;
}
/*-- //register --*/
/*-- single --*/
.w3_single_grid_left_grid ul li {
    display: inline-block;
    font-size: 14px;
    color: #999;
}
.w3_single_grid_left_grid ul li i {
    margin:0 .8em;
}
.w3_single_grid_left_grid ul li a {
    color: #999;
    text-decoration: none;
}
.w3_single_grid_left_grid ul li span {
    padding-right: .5em;
}
a.bake {
    padding:.3em 1em;
    background:#F58703;
    color:#fff !important;
}
.w3_single_grid_left_grid ul li a:hover {
	color:#F58703;
}
.w3_single_grid_left_grid ul {
    margin-bottom: 3em;
}
.w3_single_grid_left_grid h3{
	font-size: 1.8em;
    color: #212121;
    line-height: 1.3em;
    margin: 1em 0;
    text-align: center;
    text-transform: capitalize;
}
.w3_single_grid_left_grid p{
	color:#999;
	line-height:1.8em;
	margin-bottom:2em;
}
.w3_single_grid_left_grid1_left ul li{
	font-size:14px;
	color:#212121;
	margin-bottom:1.5em;
	padding-left: 2em;
    background: url(../images/img-sp.png) no-repeat -19px -260px;
	text-transform:capitalize;
	list-style-type:none;
}
.w3_single_grid_left_grid1_left {
    padding-left: 0;
}
.w3_single_grid_left_grid1 p{
	color:#999;
	line-height:1.8em;
	margin-top:2em;
}
.w3_single_grid_right_grid h3,.recent h3,.comments h3,.wthree_write_reply h3{
	font-size:2em;
	color:#212121;
	margin-bottom:1.3em;
	text-align:right;
	position: relative;
    padding-bottom: .5em;
}
.w3_single_grid_right_grid h3:before,.recent h3:before,.comments h3:before,.wthree_write_reply h3:before{
	content:'';
	position:absolute;
	right:0%;
	bottom:0%;
	background:#F58703;
	height:2px;
	width:15%;
}
.pa_italic i {
    left: -1em;
	font-size: 11px;
}
.pa_italic span {
    display: none;
}
.collapsed span {
    display: inline-block;
    left: -1em;
	font-size: 11px;
}
.collapsed i {
    display: none;
}
.panel-heading {
    padding:10px 35px;
}
.panel-title {
    font-size: 1em;
    color:#fff;
    text-transform: capitalize;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}
.panel-default {
    border-color: #FFF;
	background: #f5f5f5;
}
.panel-default > .panel-heading {
    border-color: #FFF;
    color: #fff;
    background-color: #F58703;
}
.panel-body {
    padding: 2em;
    font-size: 14px;
    line-height: 2em;
    color: #999;
}
a.pa_italic label {
    cursor: pointer;
	font-weight:500;
}
a.pa_italic:focus {
    outline: none;
    text-decoration: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}
.recent{
	margin:3em 0 0;
}
.related-post-left {
	float: right;
    width: 30%;
}
.related-post-right {
    float: left;
    width: 65%;
	text-align: right;
}
.related-post-right h4 a {
    color: #F58703;
    font-size: 1.2em;
    text-transform: capitalize;
    text-decoration: none;
    line-height: 1.5em;
    margin: 0.3em 0 0;
    display: block;
}
.related-post-right h4 a:hover{
	color:#212121;
}
.related-post-right p {
    color: #999;
    margin: .5em 0 0;
    line-height: 1.8em;
}
.related-post:nth-child(3) {
    margin: 2em 0;
}
.comments-grid-left{
	float:left;
	width:15%;
}
.comments-grid-right{
	float:right;
	width:80%;
}
.comments-grid-right h4 a{
	font-size: 1.1em;
    color: #212121;
	margin:0;
	text-decoration:none;
}
.comments-grid-right h4 a:hover{
	color:#F58703;
}
.comments-grid-right h5{
	font-size:.8em;
	color:#F58703;
	margin:.5em 0 1em;
}
.comments-grid-right p{
	margin:0 0 2em;
	line-height:1.8em;
	color:#999;
}
.reply a{
	font-size: 14px;
    color: #fff;
    padding: 6px 30px;
    background: #F58703;
    text-decoration: none;
    text-transform: uppercase;
}
.reply a:hover{
	background:#212121;
}
.comments-grid:nth-child(3){
    margin: 3em 0;
}
.comments-grid-left img {
    padding: .5em;
    box-shadow: 0px 0px 4px #999;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	margin: 0 auto;
}
.comments h3,.wthree_write_reply h3 {
    text-align: left;
}
.comments h3:before,.wthree_write_reply h3:before{
	left:0% !important;
}
.comments-grid1{
	padding-left:10em;
}
.wthree_write_reply h4{
	font-size:1.2em;
	color:#F58703;
	margin-bottom:1em;
}
.wthree_write_reply input[type="text"],.wthree_write_reply input[type="email"],.wthree_write_reply textarea{
	outline: none;
    background: #f5f5f5;
    border: 1px solid #E8E8E8;
    color: #212121;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 3em;
}
.wthree_write_reply textarea{
	min-height:100px;
}
.wthree_write_reply input[type="submit"]{
	outline: none;
    background: #212121;
    border:none;
    color: #fff;
    padding: 10px 0;
    font-size: 1em;
    width: 25%;
}
.wthree_write_reply input[type="submit"]:hover{
	background:#F58703;
}

/*----------Schedule----------*/
#schedule h1
{
    text-align:center;
    color: black !important;
	padding-bottom: 10px;
	font-size: 2.2em;
	font-family: Geneva,Tahoma,Verdana,sans-serif;
}

#schedule
{
    padding-top: 100px;
    /* padding: 40px 0; */
    background: #fff;

}

/*----------Registration----------*/
#registration
{
    background: #fff;
    padding-top: 100px;
    padding-bottom: 40px;
}
.registration-form
{
    padding-left: 230px;
}
.form-control
{
    border-radius: 0 !important;
    border: none !important;
}
::placeholder
{
    color: #fff !important;
}

.follow
{
    background: #fff;
    padding: 10px;
    margin: 15px;
}

.contact-info .fa
{
    margin: 20px;
    color: #007bff;
    font-weight: bold;
}

/*-- //single --*/
/*-----start-responsive-design------*/
@media (max-width:1680px){
	.agileits_about_bottom_left {
		padding: 5em 6em 7.15em 15em;
	}
}
@media (max-width:1600px){
	.agileits_about_bottom_left {
		padding: 5em 5em 5em 13em;
	}
}
@media (max-width:1440px){
	.agileits_about_bottom_left {
		padding:4em 4em 3em 8em;
	}
	.agileits_about_bottom_left ul {
		padding: 3.1em 0 0;
	}
}
@media (max-width: 1366px){
	.agileits_about_bottom_left {
		padding: 3em 3em 2.8em 5em;
	}
	.w3_updates_bottom_grid1 p {
		font-size: 2.5em;
	}
}
@media (max-width: 1280px){
	.about, .team, .testimonials, .comments, .single, .services, .services-bottom, .services-icons, .gallery, .typo, .mail {
		padding: 4em 0;
	}
	.agileits_about_bottom_left {
		padding: 2em 2em 1.8em 4em;
	}
	.agileits_about_bottom_left ul {
		padding: 2.8em 0 0;
	}
	.agileits_newsletter_grids {
		width: 53%;
	}
	.agile_testimonials_grid1:before {
		bottom: -9%;
	}
}
@media (max-width: 1080px){
	.navbar-nav {
		margin: 0 0 0 3em;
	}
	.header {
		padding: 1.5em 0;
	}
	.about-grid-right {
		padding: 2em;
	}
	.about-grids {
		margin: 3em 0 0;
	}
	.about h3, .team h3, .testimonials h3, .newsletter h3, .services h3, .services-bottom h3, .gallery h3, h3.title, .mail h3 {
		font-size: 2.2em;
	}
	.agileits_about_bottom_left h3 {
		font-size: 1.8em;
	}
	.agileits_about_bottom_left {
		padding: 3em;
		float: none;
		width: 100%;
	}
	.agileits_about_bottom_right {
		float: none;
		width: 50%;
		margin: 0 auto;
	}
	.wthree_team_grid1_pos h4 {
		font-size: 13px;
	}
	.wthree_team_grid1_pos h4:before {
		border-top: 14px solid transparent;
		border-bottom: 14px solid transparent;
		border-right: 14px solid #F58703;
		top: -3%;
		left: -8%;
	}
	.wthree_team_grid1_pos h4:after {
		border-top: 14px solid transparent;
		border-bottom: 14px solid transparent;
		border-left: 14px solid #F58703;
		top: -3%;
		right: -8%;
	}
	.newsletter {
		padding: 3em 0;
	}
	.agileits_newsletter_grids {
		width: 60%;
	}
	.agile_testimonials_grid1 {
		padding: 1.5em;
	}
	.agile_testimonials_grid1:before {
		bottom: -11%;
	}
	.agile_testimonials_grid {
		width: 97%;
	}
	.nbs-flexisel-container {
		max-width: 99%;
	}
	.footer {
		padding: 3em 0 2em;
	}
	.w3_single_grid_left {
		padding-left: 0;
	}
	.w3_single_grid_left_grid ul li i {
		margin:0 .4em;
	}
	a.bake {
		padding: .3em .5em;
	}
	.w3_single_grid_left_grid ul li {
		font-size: 13.2px;
	}
	.w3l_services_grid h4 a {
		font-size: 1.24em;
	}
	.w3ls_services_bottom_grid {
		padding-left: 0;
	}
	.w3_single_grid_right_grid h3, .recent h3, .comments h3, .wthree_write_reply h3 {
		font-size: 1.8em;
	}
	.nav-tabs > li:first-child {
		margin-left: 12em;
	}
	.view p {
		padding: 2.7em 1em 0;
	}
	ul.contact_info {
		padding-left: 4em;
	}
	.agileits_mail_grid_right_grid h4 {
		font-size: 1.6em;
	}
	.map iframe {
		min-height: 300px;
	}
	.cd-search input {
		font-size: 1.5em;
	}
	.footer-logo h2 a {
		font-size: 1.8em;
	}
}
@media (max-width: 1024px){
	.related-post-right h4 a {
		font-size: 1.1em;
		margin: 0;
	}
	.w3_single_grid_left_grid1 p {
		margin-top: 1em;
	}
}
@media (max-width: 991px){
	.navbar-brand {
		padding: 0 0 0 1.2em;
		line-height: 45px;
		font-size:1.2em;
		/* background: url(../images/img-sp.png) no-repeat -1px -61px; */
	}
	.navbar-nav > li > a {
		font-size: 13px;
		padding: 20px 10px 0;
	}
	.cl-effect-1 a::before {
		margin-right: 5px;
	}
	.cl-effect-1 a::after {
		margin-left: 5px;
	}
	.navbar-nav {
		margin: 0 0 0 1em;
	}
	.about-grid-left.non {
		float: left;
		text-align: right;
	}
	.about-grid-right.aliquam {
		float: right;
	}
	.about-grid.about-one:nth-child(2) {
		padding-top: 2em;
	}
	.about-grid-right {
		padding: 2em 4em 2em 2em;
		border-right: 1px solid rgba(188, 188, 188, 0.57);
	}
	.about-grids {
		margin: 0;
	}
	.about-grid.about-one:nth-child(2):after {
		left: 0%;
	}
	.about-grid:nth-child(1):after {
		left: 0%;
	}
	.about-grid {
		position: relative;
		padding:2em 0;
	}
	.about-grid:after {
		content: '';
		height: 1px;
		background-color: rgba(188, 188, 188, 0.57);
		width: 90%;
		position: absolute;
		display: block;
		left: 0%;
		bottom: 0%;
	}
	.about-grid-left {
		margin-top: 0;
	}
	.about-grids:nth-child(3){
		margin:3em 0 0;
	}
	.wthree_team_grid {
		float: left;
		width: 50%;
	}
	.agileits_about_bottom_left {
		padding: 4em 7em 3em;
	}
	.wthree_team_grid1 img {
		margin: 0 auto;
	}
	.wthree_team_grid1_pos {
		bottom: -4.5%;
		width: 60%;
		left: 21%;
	}
	.wthree_team_grid1_pos h4:before {
		left: -7%;
	}
	.wthree_team_grid1_pos h4:after {
		right: -7%;
	}
	.wthree_team_grid:nth-child(2) {
		margin-bottom: 2em;
	}
	.agileits_newsletter_grids {
		width: 80%;
	}
	.agile_testimonials_grid1:before {
		bottom: -9%;
	}
	.agileinfo_footer_grid {
		float: left;
		width: 50%;
	}
	.agileinfo_footer_grid:nth-child(2) {
		margin-bottom:2em;
	}
	.footer {
		padding: 3em 0;
	}
	.w3_single_grid_left_grid1_left {
		float: left;
		width: 50%;
	}
	.w3_single_grid_right:nth-child(2) {
		margin: 2em 0 0;
	}
	.related-post-right h4 a {
		margin: 2em 0 0;
	}
	.w3l_services_grid {
		float: left;
		width: 33.33%;
	}
	.w3l_services_grid h4 a {
		line-height: 1.5em;
	}
	.w3l_services_grid ul li {
		margin-right: 1em;
	}
	.w3l_services_grid p {
		margin-bottom: 1.5em;
	}
	.w3ls_services_bottom_grid:nth-child(2) {
		margin: 2em 0 0;
	}
	.services-icons h3 {
		font-size: 1.8em;
		line-height: 1.5em;
		width: 100%;
	}
	.nav-tabs > li:first-child {
		margin-left: 6em;
	}
	.agile_gallery_grids {
		float: left;
		width: 50%;
	}
	.view p {
		padding: 6.7em 1em 0;
	}
	.agile_gallery_grids:nth-child(2) {
		margin-bottom: 2em;
	}
	.agileits_mail_grid_right_grid {
		text-align: left;
	}
	.agileits_mail_grid_right_grid h4:before {
		right: auto;
		left: 0%;
	}
	ul.contact_info {
		padding-left: 0;
	}
}
@media (max-width: 800px){
	.agileits_about_bottom_left {
		padding: 4em 3em 3em;
	}
	.agileits_about_bottom_right {
		width: 70%;
	}
}
@media (max-width: 768px){
	.about, .team, .testimonials, .comments, .single, .services, .services-bottom, .services-icons, .gallery, .typo, .mail {
		padding: 3em 0;
	}
	.agile_testimonials_grid1:before {
		bottom: -11%;
	}
	.footer-logo h2 a {
		font-size: 1.8em;
	}
	.agileinfo_footer_grid:nth-child(2) {
		margin-bottom: 1em;
	}
	.w3_single_grid_left_grid ul li {
		font-size: 14px;
	}
	.w3_single_grid_left_grid ul li i {
		margin: 0 1em;
	}
	.comments-grid1 {
		padding-left: 5em;
	}
	.wthree_write_reply input[type="text"], .wthree_write_reply input[type="email"], .wthree_write_reply textarea {
		margin-bottom: 2em;
	}
	.more,.w3ls_services_bottom_grids,.wthree_gallery_grids {
		margin: 2em 0 0;
	}
	.nav-tabs > li:first-child {
		margin-left: 4em;
	}
	.nav-tabs {
		margin-bottom: 2em;
	}
}
@media (max-width: 767px){
	.navbar-toggle {
		margin:.8em 21em 0 0;
	}
	.navbar-default .navbar-toggle {
		border-color: #212121;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #212121;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-nav {
		margin: 0;
		text-align: center;
		float: none;
		background: #f5f5f5;
		padding-bottom: 1em;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: #e7e7e7;
		position: absolute;
		width: 100%;
		padding: 0;
		background: #000;
		z-index: 9999;
		margin: 1em 0 0;
	}
	.cl-effect-1 a::before {
		margin-right: 10px;
	}
	.cl-effect-1 a::after {
		margin-left: 10px;
	}
}
@media (max-width: 736px){
	.navbar-toggle {
		margin: .8em 20.2em 0 0;
	}
}
@media (max-width: 667px){
	.navbar-toggle {
		margin:.6em 18.2em 0 0;
	}
	.cd-search input {
		font-size: 1.2em;
	}
	.navbar-brand {
		padding: 0 0 0 .9em;
		font-size: 1.2em;
		background: url(../images/img-sp.png) no-repeat -1px -48px;
		background-size: 127%;
		height: 52px;
	}
	.header-bottom {
		padding: .5em 0;
	}
	.cd-header-buttons {
		top: -45px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin: .5em 0 0;
	}
	.w3_updates_bottom_grid1 p {
		font-size: 2.2em;
	}
	.w3_updates_bottom_grid1 h4 {
		font-size: 1.3em;
	}
	.agileits_newsletter_grids {
		width: 88%;
	}
	.footer {
		padding: 2em 0;
	}
	.footer-logo h2 a {
		font-size: 1.5em;
		background: url(../images/img-sp.png) no-repeat 0px -154px;
		background-size: 140%;
	}
}
@media (max-width: 640px){
	.navbar-brand {
		font-size: 1em;
		background: url(../images/img-sp.png) no-repeat -1px -39px;
		background-size:120%;
		height: 44px;
		padding: 0 0 0 1.1em;
	}
	.footer-logo h2 a {
		background: url(../images/img-sp.png) no-repeat 0px -154px;
		background-size: 122%;
	}
	.navbar-toggle {
		margin: .6em 17.2em 0 0;
	}
	.about h3, .team h3, .testimonials h3, .newsletter h3, .services h3, .services-bottom h3, .gallery h3, h3.title, .mail h3 {
		font-size: 1.8em;
	}
	p.dolor {
		line-height: 1.8em;
	}
	p.dolor:after {
		width: 10%;
		left: 45%;
	}
	.about-grid.about-one {
		padding: 0 0 2em 0;
	}
	.about-grid-right {
		padding: 2em 3em 2em 2em;
	}
	.agileits_about_bottom_left h3 {
		font-size: 1.6em;
	}
	.agileits_newsletter_grids {
		margin: 2em auto 0;
	}
	.agile_testimonials_grid {
		width: 75%;
		margin: 0 auto;
	}
	.agile_testimonials_grids {
		margin: 2em 0 0;
	}
	.agileinfo_footer_grid h4 {
		margin: 0.5em 0 0;
	}
	.wthree_service_breadcrumb_right h3 {
		font-size: 1.7em;
	}
	.w3l_services_grid {
		float: none;
		width: 70%;
		margin: 0 auto;
	}
	.w3l_services_grid:nth-child(2){
		margin:2em auto;
	}
	.w3_single_grid_left_grid ul li i {
		margin:0 .5em;
	}
	.w3_single_grid_left_grid h3,.services-icons h3 {
		font-size: 1.6em;
	}
	.nav-tabs > li:first-child {
		margin-left: 1em;
	}
	.view p {
		padding: 5.5em 1em 0;
	}
	.related-post-right h4 a {
		margin: 1em 0 0;
	}
	.map iframe {
		min-height: 250px;
	}
}
@media (max-width: 600px){
	.navbar-toggle {
		margin: .6em 15.9em 0 0;
	}
	.agileits_about_bottom_left {
		padding: 3em 2em 2em;
	}
	.wthree_team_grid1_pos {
		bottom: -5.5%;
		width: 67%;
		left: 18%;
	}
	.agileits_newsletter_grids input[type="submit"] {
		width: 14%;
	}
	.agileits_newsletter_grids input[type="email"] {
		width: 85%;
	}
}
@media (max-width:568px){
	.navbar-toggle {
		margin: .6em 14.9em 0 0;
	}
	.about-grids:nth-child(3) {
		margin: 2em 0 0;
	}
	.w3_updates_bottom_grid1 h4 {
		font-size: 1.2em;
	}
	.wthree_team_grid1_pos {
		width: 80%;
		left: 11%;
	}
}
@media (max-width:480px){
	.cd-search input {
		font-size: 1em;
	}
	.w3l_header_left {
		float: none;
		margin: 0 0 1em;
		text-align: center;
	}
	.w3l_header_right {
		float: none;
		text-align: center;
	}
	.navbar-toggle {
		margin: .6em 11.9em 0 0;
	}
	.about h3, .team h3, .testimonials h3, .newsletter h3, .services h3, .services-bottom h3, .gallery h3, h3.title, .mail h3 {
		font-size: 1.6em;
	}
	.about, .team, .testimonials, .comments, .single, .services, .services-bottom, .services-icons, .gallery, .typo, .mail {
		padding: 2em 0;
	}
	.about-grid-right {
		padding: 2em 2em 2em 2em;
	}
	.about-grid-left h4 {
		font-size: 1.3em;
	}
	.agileits_about_bottom_left {
		padding: 2em 2em 2em;
	}
	.agileits_about_bottom_left h3 {
		font-size: 1.43em;
	}
	.agileits_about_bottom_left p {
		margin: 1em 0;
	}
	.w3_updates_bottom_grid1 p {
		margin: 0 !important;
	}
	.agileits_about_bottom_left1 {
		float: none;
		width: 100%;
	}
	.agileits_about_bottom_left1:nth-child(4){
		margin:2em 0;
	}
	.agileits_about_bottom_right {
		width: 100%;
	}
	.wthree_team_grid {
		float: none;
		width: 60%;
		margin: 0 auto;
	}
	.wthree_team_grids {
		margin: 2em 0 0;
	}
	.wthree_team_grid:nth-child(2) {
		margin: 2em auto;
	}
	.wthree_team_grid:nth-child(4) {
		margin-top: 2em;
	}
	.agileits_newsletter_grids {
		width: 100%;
	}
	.agile_testimonials_grid {
		width: 90%;
	}
	.agileinfo_footer_grid {
		float: none;
		width: 100%;
	}
	.agileinfo_footer_grid:nth-child(3) {
		margin-bottom: 2em;
	}
	.w3l_services_grids {
		margin: 2em 0 0;
	}
	.w3l_services_grid {
		width: 100%;
	}
	.w3_single_grid_left_grid ul li {
		margin-bottom: 1.5em;
	}
	.w3_single_grid_left_grid ul {
		margin-bottom: 1em;
	}
	.w3_single_grid_left_grid h3, .services-icons h3 {
		font-size: 1.5em;
	}
	.w3_single_grid_left_grid1_left {
		float: none;
		width: 100%;
	}
	.related-post-right h4 a {
		margin: 0;
	}
	.comments-grid1 {
		padding-left: 0;
	}
	.wthree_write_reply {
		margin: 1em 0 0;
	}
	.wthree_write_reply input[type="submit"] {
		width: 100%;
	}
	.nav-tabs > li > a {
		font-size: 13px;
		padding: 10px 1px;
	}
	.agile_gallery_grids {
		float: none;
		width: 100%;
	}
	.agile_gallery_grids:nth-child(2) {
		margin: 2em 0;
	}
	.agile_gallery_grids:nth-child(3) {
		margin-bottom: 2em;
	}
	.view p {
		padding: 8.5em 1em 0;
	}
	.agileits_mail_grid_left input[type="text"], .agileits_mail_grid_left input[type="email"], .agileits_mail_grid_left textarea {
		margin-bottom: 2em;
	}
	.agileits_mail_grid_right_grid h4 {
		font-size: 1.3em;
	}
	.agileits_mail_grid_right_grid:nth-child(2) {
		margin: 2em 0;
	}
	.newsletter {
		padding: 2em 0;
	}
}
@media (max-width: 414px){
	.navbar-toggle {
		margin: .6em 7.9em 0 0;
	}
	.about-grid-left,.about-grid-left.non {
		width: 72%;
	}
	.agileits_about_bottom_left h3 {
		font-size: 1.4em;
		line-height: 1.5em;
	}
	.agileits_about_bottom_left {
		padding: 2em 2em 1em;
	}
	.wthree_team_grid {
		width: 75%;
	}
	.agileits_newsletter_grids input[type="submit"] {
		width: 17%;
	}
	.agileits_newsletter_grids input[type="email"] {
		width: 81%;
	}
	.agileinfo_footer_grid h4 {
		margin: 0;
	}
	.agileinfo_footer_grid:nth-child(2) {
		margin-bottom: 0em;
	}
	.wthree_service_breadcrumb_right h3 {
		font-size: 1.5em;
	}
	.w3_single_grid_left_grid h3, .services-icons h3 {
		font-size: 1.3em;
	}
	.w3_single_grid_left_grid1 p {
		margin-top: 0;
	}
	.w3_single_grid_right:nth-child(2) {
		padding: 0;
	}
	.panel-body {
		padding: 1em;
	}
	.comments-grid-left {
		width: 25%;
	}
	.comments-grid-right {
		width: 68%;
	}
	.w3_single_grid_right_grid h3, .recent h3, .comments h3, .wthree_write_reply h3 {
		font-size: 1.6em;
	}
	.nav-tabs > li {
		float: none;
		text-align: center;
	}
	.nav-tabs > li {
		margin: 0;
	}
	.nav-tabs > li > a {
		font-size: 14px;
		padding: 15px 0px;
	}
	.nav-tabs > li:first-child {
		margin-left: 0em;
	}
	.view p {
		padding: 7.5em 1em 0;
	}
	.map iframe {
		min-height: 200px;
	}
}
@media (max-width:384px){
	.navbar-toggle {
		margin: .6em 5.9em 0 0;
	}
	.about h3, .team h3, .testimonials h3, .newsletter h3, .services h3, .services-bottom h3, .gallery h3, h3.title, .mail h3 {
		font-size: 1.5em;
	}
	.about-grid-left h4 {
		font-size: 1.2em;
	}
	.about-grid-left, .about-grid-left.non {
		width: 71%;
	}
	.about span.glyphicon {
		font-size: 1.5em;
	}
	.agileits_about_bottom_left {
		padding: 2em 1em 1em;
	}
	.agileits_newsletter_grids input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat -129px 3px #fff;
	}
	.agileits_newsletter_grids input[type="submit"]:hover {
		background: url(../images/img-sp.png) no-repeat -129px -27px #212121;
	}
	.w3_single_grid_left_grid ul li i {
		margin: 0 .2em;
	}
	.view p {
		padding: 6.5em 1em 0;
	}
	.agileits_mail_grids {
		margin: 2em 0 0;
	}
	.agileits_mail_grid_left {
		padding: 0;
	}
	.w3l_header_left ul li {
		margin-right: 1em;
	}
}
@media (max-width:375px){
	.w3l_header_left ul li span {
		padding-right: .5em;
	}
	.about h3, .team h3, .testimonials h3, .newsletter h3, .services h3, .services-bottom h3, .gallery h3, h3.title, .mail h3 {
		font-size: 1.7em;
	}
	.wthree_team_grid {
		width: 80%;
	}
	.related-post-right {
		width: 66%;
	}
	.related-post-right h4 a {
		font-size: 1em;
	}
	.wthree_write_reply input[type="text"], .wthree_write_reply input[type="email"], .wthree_write_reply textarea {
		margin-bottom: 1em;
	}
}
@media (max-width:320px){
	.w3l_header_left ul li {
		font-size: 13px;
	}
	.w3l_header_left ul li {
		margin-right: 0em;
	}
	.header {
		padding: 1em 0;
	}
	.navbar-brand {
		font-size: .9em;
		background: url(../images/img-sp.png) no-repeat -1px -34px;
		background-size: 125%;
	}
	.navbar-toggle .icon-bar {
		width: 18px;
	}
	.navbar-toggle {
		padding: 7px 7px;
	}
	.navbar-toggle {
		margin: .6em 4.9em 0 0;
	}
	.cd-search input {
		font-size: 14px;
		padding: 10px 25px;
	}
	.about h3, .team h3, .testimonials h3, .newsletter h3, .services h3, .services-bottom h3, .gallery h3, h3.title, .mail h3 {
		font-size: 1.5em;
	}
	.about h3 {
		font-size: 1.38em;
	}
	.alert, p,.agileits_about_bottom_left ul li,ul.contact_info li,.agileits_mail_grid_left input[type="text"], .agileits_mail_grid_left input[type="email"], .agileits_mail_grid_left textarea,.panel-body,.wthree_write_reply input[type="text"], .wthree_write_reply input[type="email"], .wthree_write_reply textarea,.w3_single_grid_left_grid1_left ul li,.wthree_service_breadcrumb_left ul li,.agileits_newsletter_grids input[type="email"],.agileinfo_footer_grid ul li a {
		font-size: 13px;
	}
	.map iframe {
		min-height: 150px;
	}
	.agileits_mail_grid_left h4,.wthree_write_reply h4 {
		font-size: 1em;
	}
	.view p {
		padding: 5em 1em 0;
	}
	.wthree_write_reply input[type="submit"] {
		font-size: 14px;
	}
	.w3l_services_grid h4 a {
		font-size: 1.1em;
	}
	.panel-heading {
		padding: 10px 24px;
	}
	.panel-title {
		font-size: 14px;
	}
	.wthree_service_breadcrumb_left ul li i {
		padding: 0 0.5em;
	}
	.wthree_service_breadcrumb_right h3 {
		font-size: 1.3em;
	}
	.wthree_service_breadcrumb_left ul {
		padding: 0;
	}
	.w3_single_grid_left_grid ul li {
		margin-bottom: 1em;
		font-size: 13px;
	}
	p.dolor {
		padding-bottom: 1em;
	}
	.w3_single_grid_left_grid h3 {
		line-height: 1.5em;
		font-size: 1.1em;
	}
	.navbar-nav > li > a {
		padding: 20px 0px 0;
	}
	.about-grid-right {
		padding: 1em 1.5em 6em 1em;
	}
	.wthree_team_grid {
		width: 100%;
	}
	.agileits_newsletter_grids input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat -134px 3px #fff;
		padding: 8px 0 10px;
	}
	.agileits_newsletter_grids input[type="submit"]:hover {
		background: url(../images/img-sp.png) no-repeat -134px -27px #212121;
	}
	.agile_testimonials_grid1 {
		padding: 1em;
	}
	.agileinfo_footer_grid h4 span {
		font-size: 1.5em;
	}
	.w3_single_grid_right_grid h3, .recent h3, .comments h3, .wthree_write_reply h3 {
		font-size: 1.5em;
	}
	.w3ls_services_bottom_grid_grid_pos {
		top: 40%;
		width: 40px;
		height: 40px;
	}
	.w3ls_services_bottom_grid_grid_pos h4 {
		font-size: 1em;
		padding-top: .6em;
	}
	.more a {
		padding: 8px 30px;
		font-size: 14px;
	}
}